{
  "server": "{{item.server}}",
  "server_port": {{item.server_port}},
  "local_address": "0.0.0.0",
  "local_port": 1081,
  "password": "{{item.password}}",
  "timeout": 300,
  "method": "{{item.method}}",
  "mode": "tcp_and_udp"
}
